.home{
    text-align: center;
    border: darkslateblue ;
    border-width: 25px;
    padding-top: 15px;
    background-image: url("../../Images/possible_background_portfolio.jpg");
}

.surrounding_home{
    background-color: darkcyan;
    padding: 25px 25px 25px 25px;
}

.your_snap{
    padding: 25px 25px 25px 25px;
}

.image{

    transition: transform .1s;
}

.image:hover{
    box-shadow: 10px 10px 5px grey;
    transform: scale(1.2);
}

.footer{
    background-color: darkorchid;
    padding: 25px 25px 25px 25px;
}